* {
    font-family: 'Lato', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    padding: 10px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 64px;
	text-transform: uppercase;
	font-weight: normal;
	color: #747704;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	font-size: 48px;
	font-weight: normal;
	color: #BCBBBB;
	padding-left: 30px;
	padding-right: 30px;
}

h3 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: normal;
	color: #747704;
	padding-left: 10px;
	padding-right: 10px;
}

h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	color: #BCBBBB;
	padding-left: 10px;
	padding-right: 10px;
}


.intro {
	text-align: right;
	font-weight: bold;
}

.header {
	border-bottom: 5px solid #BCBBBB;
}

.url {
	font-size: 16px;
	color: #BCBBBB;
	font-weight: normal;
}

.col-4 * {
	text-align: center;
}

.logo {
	color: #F8981C;
}